In [1]:
import json
import pandas as pd

In [2]:
with open('refactory.json') as f:
   data = json.load(f)

print(data)

[{'inventory_id': 9382, 'name': 'Brown Chair', 'type': 'furniture', 'tags': ['chair', 'furniture', 'brown'], 'purchased_at': 1579190471, 'placement': {'room_id': 3, 'name': 'Meeting Room'}}, {'inventory_id': 9380, 'name': 'Big Desk', 'type': 'furniture', 'tags': ['desk', 'furniture', 'brown'], 'purchased_at': 1579190642, 'placement': {'room_id': 3, 'name': 'Meeting Room'}}, {'inventory_id': 2932, 'name': 'LG Monitor 50 inch', 'type': 'electronic', 'tags': ['monitor'], 'purchased_at': 1579017842, 'placement': {'room_id': 3, 'name': 'Lavender'}}, {'inventory_id': 232, 'name': 'Sharp Pendingin Ruangan 2PK', 'type': 'electronic', 'tags': ['ac'], 'purchased_at': 1578931442, 'placement': {'room_id': 5, 'name': 'Dhanapala'}}, {'inventory_id': 9382, 'name': 'Alat Makan', 'type': 'tableware', 'tags': ['spoon', 'fork', 'tableware'], 'purchased_at': 1578672242, 'placement': {'room_id': 10, 'name': 'Rajawali'}}]

In [3]:
df = pd.read_json('refactory.json')

In [4]:
data

[{'inventory_id': 9382,
  'name': 'Brown Chair',
  'type': 'furniture',
  'tags': ['chair', 'furniture', 'brown'],
  'purchased_at': 1579190471,
  'placement': {'room_id': 3, 'name': 'Meeting Room'}},
 {'inventory_id': 9380,
  'name': 'Big Desk',
  'type': 'furniture',
  'tags': ['desk', 'furniture', 'brown'],
  'purchased_at': 1579190642,
  'placement': {'room_id': 3, 'name': 'Meeting Room'}},
 {'inventory_id': 2932,
  'name': 'LG Monitor 50 inch',
  'type': 'electronic',
  'tags': ['monitor'],
  'purchased_at': 1579017842,
  'placement': {'room_id': 3, 'name': 'Lavender'}},
 {'inventory_id': 232,
  'name': 'Sharp Pendingin Ruangan 2PK',
  'type': 'electronic',
  'tags': ['ac'],
  'purchased_at': 1578931442,
  'placement': {'room_id': 5, 'name': 'Dhanapala'}},
 {'inventory_id': 9382,
  'name': 'Alat Makan',
  'type': 'tableware',
  'tags': ['spoon', 'fork', 'tableware'],
  'purchased_at': 1578672242,
  'placement': {'room_id': 10, 'name': 'Rajawali'}}]

# Barang yang ada di dalam meeting room

In [5]:
#semua barang di dalam meeting room
ids=[]
for p_id in data:
    if p_id['placement']['name'] == 'Meeting Room':
        ids.append(p_id['name'])
print(ids)

['Brown Chair', 'Big Desk']

# Data dengan barang elektronik

In [6]:
#data yang electronic
list(filter(lambda x: x['type'] == 'electronic', data))

[{'inventory_id': 2932,
  'name': 'LG Monitor 50 inch',
  'type': 'electronic',
  'tags': ['monitor'],
  'purchased_at': 1579017842,
  'placement': {'room_id': 3, 'name': 'Lavender'}},
 {'inventory_id': 232,
  'name': 'Sharp Pendingin Ruangan 2PK',
  'type': 'electronic',
  'tags': ['ac'],
  'purchased_at': 1578931442,
  'placement': {'room_id': 5, 'name': 'Dhanapala'}}]

In [7]:
xx=[]
for zz in data:
    if zz['type'] == 'electronic':
        xx.append(zz['name'])
print(xx)

['LG Monitor 50 inch', 'Sharp Pendingin Ruangan 2PK']

# barang dengan tipe furniture

In [8]:
#data yang mempunyai tipe furniture
list(filter(lambda x: x['type'] == 'furniture', data))

[{'inventory_id': 9382,
  'name': 'Brown Chair',
  'type': 'furniture',
  'tags': ['chair', 'furniture', 'brown'],
  'purchased_at': 1579190471,
  'placement': {'room_id': 3, 'name': 'Meeting Room'}},
 {'inventory_id': 9380,
  'name': 'Big Desk',
  'type': 'furniture',
  'tags': ['desk', 'furniture', 'brown'],
  'purchased_at': 1579190642,
  'placement': {'room_id': 3, 'name': 'Meeting Room'}}]

# pembelian yang dilakukan pada tanggal 16 bulan 1 tahun 2020

In [9]:
#tanggal 16 01 2020
df['tanggal'] = [d.date() for d in df['purchased_at']]
df['jam'] = [d.time() for d in df['purchased_at']]
df['tanggal']= pd.to_datetime(df['tanggal'])
df[df['tanggal']=='16-01-2020']

,inventory_id,name,type,tags,purchased_at,placement,tanggal,jam
0,9382,Brown Chair,furniture,"[chair, furniture, brown]",2020-01-16 16:01:11,"{'room_id': 3, 'name': 'Meeting Room'}",2020-01-16,16:01:11
1,9380,Big Desk,furniture,"[desk, furniture, brown]",2020-01-16 16:04:02,"{'room_id': 3, 'name': 'Meeting Room'}",2020-01-16,16:04:02

# Barang yang berwarna cokelat

In [12]:
#barang yang warna coklat
brown = []
for i in data:
    for j in i['tags']:
        if j == 'brown':
            brown.append(i['name'])
            break
print(brown)

['Brown Chair', 'Big Desk']